@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nonya<br />
    Business 12345<br />
    <abbr title="Phone">P:</abbr>
    867-5309
</address>

<address>
    <strong>Support:</strong> <p>Call Ghostbusters!!</p><br />
</address>